<%= simple_form_for(@cliente) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :documento %>
    <%= f.input :nombre %>
    <%= f.input :apellido %>
    <%= f.input :fechan %>
    <%= f.input :telefono %>
    <%= f.input :direccion %>
    <%= f.association :pelicula %>
    <%= f.association :empleado %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
