<%# add navigation links to this file %>
<li><%= link_to "inicio", root_path %></li>
<li><%= link_to "videos", peliculas_path %></li>
<li><%= link_to "prestamos", root_path %></li>
<li><%= link_to "clientes", clientes_path %></li>
<li><%= link_to "empleados", empleados_path %></li>